@page "/courses/details/{CourseID}"

@inherits DetailsModel

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    @if (Course == null)
    {
        <P>Loading...</P>
    }
    else
    {
        <dl class="row">
            <dt class="col-sm-2">Number</dt>
            <dd class="col-sm-10">@Course.Id</dd>
            <dt class="col-sm-2">Title</dt>
            <dd class="col-sm-10">@Course.Title</dd>
            <dt class="col-sm-2">Credits</dt>
            <dd class="col-sm-10">@Course.Credits</dd>
            <dt class="col-sm-2">Department</dt>
            <dd class="col-sm-10">@Course.DepartmentName</dd>
        </dl>

        <div>
            <a href="/courses/edit/@Course.Id">Edit</a> |
            <a href="/courses">Back to List</a>
        </div>
    }
</div>


